<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <b>Choose your account type:</b> 
  <% for role in Role.find(:all) %> 
    <div> 
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> 
      <% if role.name == "Artist" %>
        I want to <b>sell</b> my Masterpiece
      <% end %>
      <% if role.name == "Buyer" %>
        I want to <b>buy</b> Great piece of Art
      <% end %>
    </div> 
  <% end %> 

  <b><p><%= f.label :name %></b><br />
  <%= f.text_field :name %></p>

  <b><p><%= f.label :email %></b><br />
  <%= f.text_field :email %></p>

  <b><p><%= f.label :password %></b><br />
  <%= f.password_field :password %></p>

  <b><p><%= f.label :password_confirmation %></b><br />
  <%= f.password_field :password_confirmation %></p>
  
  <b><p>My picture </b><i>(paste URL with your picture or leave field blank)</i><br />
  <%= f.text_field :image_url %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
